doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js')
  body
    nav(uk-navbar).uk-navbar-container
      .uk-navbar-left
        ul.uk-navbar-nav
          each art in artifacts
            li(class= art.artifactId === current ? "uk-active" : "")
              a(href="/artifact/" + art.artifactId) #{art.name}
      .uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href="/config") Configuration
    block content
